{%extends 'base.html'%}
{%load blog_tags%}

{%block TITLE%}
{{title}}
{%endblock%}

{%block CONTENT%}
<h3 class="mb-3">Профиль пользователя <b>{{profile.user.username}}</b></h3>

<h5><a href="{%url 'edit_profile'%}" class="btn btn-primary mt-1 mb-2">Редактировать профиль</a></h5>
{%if profile.avatar%}
<img src="{{profile.avatar.url}}" class="img-thumbnai" alt="user_avatar" width="300">
{%else%}
<img src="/static/photos/no_image.jpg" class="img-thumbnail" alt="no-avatar" width="300">
{%endif%}
<p class="mb-3 text-left">Аватар</p>
<h4 class="mb-3">O Себе:</h4>
<p>{{profile.about_me|safe}}</p>
<h4 class="mb-3">Посты</h4>
{{user.post}}
{%for post in user_posts%}
<div class="list-group">
    <a href="{{post.get_absolute_url}}" class="list-group-item list-group-item-action">{{post.title}}</a>
</div>
{%empty%}
<p>Пользователь ничего не публиковал.</p>
{%endfor%}
<a onclick="javascript:history.back(); return false;" class="btn btn-primary mt-3">Назад</a>

{%endblock%}